.navbar{
    background-color: white !important;
    color: #242424 !important;
    text-decoration: none !important;
    margin: 0px !important;
    height: 49px !important;
}

.nav-text{
    margin-left: 25px;
}
.navbar-span{
    margin-left: 15px !important;
    color: #242424 !important;
    text-decoration: none !important;
}

.navbar-button{
    border: none !important;
    background-color: white !important;
}