@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reem+Kufi:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(152, 153, 155);
  --text-color: #1d1d1f99;
  --nunito-text: "Nunito", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--nunito-text) !important;
}

.custom-small-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}

.custom-small-scroll::-webkit-scrollbar-track {
  background: #ffffff66;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-small-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ffffff66;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}

.custom-message-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

.custom-message-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.custom-message-scroll::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius: 20px;
}

li::marker {
  content: "";
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    max-width: 100% !important;
  }
}

.font-inter {
  font-family: "Inter", "sans-serif", sans-serif !important;
}

.font-reem {
  font-family: "Reem Kufi", "sans-serif", sans-serif !important;
}

.font-open {
  font-family: "Open Sans", "sans-serif", sans-serif !important;
}

.placeholder-custom::placeholder {
  color: #5f5f65;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.ql-editor {
  padding: 0 !important;
  border: none !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .scroll-area-viewport > div {
    display: block !important;
  }
}

.skeleton-gradient {
  background: linear-gradient(270deg, #afafaf 0%, #d2d2d2 53.85%, #afafaf 100%);
  background-size: 400% 400%;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.document-text {
  user-select: text;
}

.truncate-text {
  display: -webkit-box;
  width: fit-content;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ql-container {
  height: fit-content !important;
}

.richtext ul {
  list-style: disc !important;
  list-style-position: outside;
  padding-left: 1.25rem;
}

.richtext ol {
  list-style: decimal !important;
  list-style-position: outside;
  padding-left: 1.25rem;
}

.richtext li {
  display: list-item !important;
}

.richtext li::marker {
  content: initial !important;
}

.box-shadow-input {
  box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .box-shadow-input {
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  input,
  textarea,
  select,
  button {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
